run = "npm run dev"
modules = ["nodejs-20", "python-3.11", "postgresql-16"]
hidden = [".config", "package-lock.json"]
entrypoint = "index.html"

[nix]
channel = "stable-24_05"
packages = ["freetype", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "tcl", "tk", "zip", "zlib", "imagemagick", "unzip"]

[unitTest]
language = "nodejs"

[deployment]
deploymentTarget = "static"
build = ["npm", "run", "build"]
publicDir = "dist"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000

[[ports]]
localPort = 32789
externalPort = 8008

[[ports]]
localPort = 33517
externalPort = 8099

[[ports]]
localPort = 33839
externalPort = 9000

[[ports]]
localPort = 34767
externalPort = 8080

[[ports]]
localPort = 35101
externalPort = 3002

[[ports]]
localPort = 37143
externalPort = 4200

[[ports]]
localPort = 37557
externalPort = 8081

[[ports]]
localPort = 38211
externalPort = 6000

[[ports]]
localPort = 38985
externalPort = 6800

[[ports]]
localPort = 39021
externalPort = 8000

[[ports]]
localPort = 40233
externalPort = 3001

[[ports]]
localPort = 44233
externalPort = 5173

[[ports]]
localPort = 44317
externalPort = 5000

[[ports]]
localPort = 44783
externalPort = 3003

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Dev Server"

[[workflows.workflow]]
name = "Dev Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"
